<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet">
    <title>Greenhouse Website</title>
</head>
<body>
    <header id="home">
        <nav>
            <div class = "row">
                <ul class="main-nav"> <!-- unordered list = ul, li = elements in the list -->
                    <li><a href="#home">Home</a></li>
                    <li><a href="#front">Front Room</a></li>
                    <li><a href="#back">Back Room</a></li>
                    <li><a href="#outside">Outside</a></li>
                </ul>
            </div>
        </nav>
        <div class="hero-text-box">

            <h1>Welcome to the Southwestern</h1>
            <h1>University Greenhouse!</h1>
            
        </div>
    
    
    </header>
    <section class = "front" id = "front">
        <!-- <div class="grid-container">
            <div class="grid-item">_</div>
            <div class="grid-item">_</div>
            <div class="grid-item">_</div>  
            <div class="grid-item">_</div>
            <div class="grid-item">_</div>
            <div class="grid-item">_</div>  
            <div class="grid-item">_</div>
            <div class="grid-item">_</div>
            <div class="grid-item">_</div>
            <div class="grid-item">_</div>
            <div class="grid-item">_</div>
            <div class="grid-item">_</div>  
            <div class="grid-item">_</div>
            <div class="grid-item">_</div>
            <div class="grid-item">_</div>  
            <div class="grid-item">_</div>
            <div class="grid-item">_</div>
            <div class="grid-item">_</div>    
          </div> -->
        <h2>Front Room</h2>
        <div class = "img-box-of-7">
            <div class="grid-container">
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>  
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>  
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>  
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>  
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>    
              </div>
            <div class="grid-container">
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>  
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>  
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>  
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>  
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>    
            </div>
            <img src="img/filler_form.jpg" class = "form">
            <div class="grid-container">
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>  
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>  
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>  
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>  
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>    
            </div>
            <div class="grid-container">
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>  
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>  
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>  
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>  
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>    
            </div>
            <div class="grid-container">
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>  
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>  
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>  
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>  
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>    
            </div>
            <div class="grid-container">
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>  
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>  
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>  
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>  
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>
                <div class="grid-item">_</div>    
            </div>
              
        </div> 
    </section>
    <div class = "break"></div>
    <section class = "back" id = "back">
        <h2>Back Room</h2>
        <div class = "img-box-of-7">
            <a href=""><img src="img\Bed 11.png" class="beds"></a>
            <a href=""><img src="img\Bed 12.png" class="beds"></a>
            <a href=""><img src="img/filler_form.jpg" class = "form"></a>
            <a href=""><img src="img\Bed 9.png" class="beds"></a>
            <a href=""><img src="img\Bed 10.png" class="beds"></a>
            <a href=""><img src="img\Bed 7.png" class="beds"></a>
            <a href=""><img src="img\Bed 8.png" class="beds"></a>
        </div>
    </section>
</body>
</html>